<div class="page">
    <div class="header">
        <bsb-menu title="About Bullshit Bingo"></bsb-menu>
    </div>
    <div class="content">
        <h1>Rules</h1>
        <p>Before the meeting or speech starts, you create a matrix of buzzwords. The game
            starts as soon as the meeting starts. When the speaker or any other involved
            person speaks out a certain buzzword, that appears in your matrix, you can cross
            out this buzzword. As soon as you have crossed out a complete row, column
            or diagonal, you must stand up and shout out loudly <em>BULLSHIT!</em> to win.</p>
    </div>
    <div class="footer">
        <small>Version {{version}}</small>
    </div>
</div>