<div class="page">
    <div class="header">
        <bsb-menu title="Settings"></bsb-menu>
    </div>
    <div class="content">
        <form [formGroup]="formGroup">
            <div class="form-group">
                <label>Color</label>
                <select formControlName="color">
                    <option value="green">Green</option>
                    <option value="orange">Orange</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
            <div class="form-group">
                <label>Sound</label>
                <select formControlName="sound">
                    <option value="none">None</option>
                </select>
            </div>
        </form>
    </div>
</div>